<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:24</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:26</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>right deng lu</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:27</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>right zhu ce</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:28</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>right deng lu</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:29</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>deng lu</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:30</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:33</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:35</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:35</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:37</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRXunLianTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:38</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>xun lian</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:38</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRGongChengViewController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:40</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRXunLianTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>jin ru xun lian</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:40</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRGongChengViewController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:30:43</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRXunLianTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:44:02</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:44:05</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:44:05</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:44:07</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRShangController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:02:17</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>jin bi</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:02:17</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRShangController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>shang cheng back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:02:20</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:02:21</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:02:21</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:42:51</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:42:54</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:42:54</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:42:56</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>jing zhou</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:42:56</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRGongChengViewController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:42:57</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>jin ru zhan dou</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:42:57</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRGongChengViewController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:43:02</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:43:02</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:43:29</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:43:29</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:43:30</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>yi zhou</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:43:30</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRGongChengViewController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:43:32</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>jin ru zhan dou</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:43:32</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:47:47</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRShangController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:47:49</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>jin bi</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:47:49</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRShangController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>shang cheng back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:47:52</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:47:54</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:47:54</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:47:57</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRXunLianTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:47:58</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>xun lian</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:47:58</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRShangController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:05</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>jin bi</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:05</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRShangController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>shang cheng back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:14</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:16</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:16</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:20</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRXunLianTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:23</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>xun lian</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:23</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRGongChengViewController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:26</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRXunLianTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>jin ru xun lian</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:26</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:57</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:48:57</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:51:10</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 11:51:13</string>
		<key>UUID</key>
		<string>9F948666-9583-484B-8B58-1AEB367DACD7</string>
	</dict>
</array>
</plist>
