<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:29:24</string>
		<key>UUID</key>
		<string>BBACB580-4B6D-4C2C-8018-8EEA044E808E</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 10:29:27</string>
		<key>UUID</key>
		<string>BBACB580-4B6D-4C2C-8018-8EEA044E808E</string>
	</dict>
</array>
</plist>
