<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 12:33:49</string>
		<key>UUID</key>
		<string>FF3D8192-9943-4EBD-9873-6CF689E0E60B</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 12:33:51</string>
		<key>UUID</key>
		<string>FF3D8192-9943-4EBD-9873-6CF689E0E60B</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>deng lu</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 12:33:52</string>
		<key>UUID</key>
		<string>FF3D8192-9943-4EBD-9873-6CF689E0E60B</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 12:33:55</string>
		<key>UUID</key>
		<string>FF3D8192-9943-4EBD-9873-6CF689E0E60B</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 12:33:57</string>
		<key>UUID</key>
		<string>FF3D8192-9943-4EBD-9873-6CF689E0E60B</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 12:33:57</string>
		<key>UUID</key>
		<string>FF3D8192-9943-4EBD-9873-6CF689E0E60B</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapTipController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 12:33:58</string>
		<key>UUID</key>
		<string>FF3D8192-9943-4EBD-9873-6CF689E0E60B</string>
	</dict>
</array>
</plist>
