<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 14:47:51</string>
		<key>UUID</key>
		<string>1D25070A-71D7-497A-9DD8-80566393EF0D</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 14:47:53</string>
		<key>UUID</key>
		<string>1D25070A-71D7-497A-9DD8-80566393EF0D</string>
	</dict>
</array>
</plist>
