<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>17.57.27.31</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 11:40:03</string>
		<key>UUID</key>
		<string>1C0D5234-1C8C-41AE-B481-E286DE2F0939</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>17.57.27.31</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 11:40:38</string>
		<key>UUID</key>
		<string>1C0D5234-1C8C-41AE-B481-E286DE2F0939</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>17.57.27.31</string>
		<key>Point</key>
		<string>deng lu</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 11:42:03</string>
		<key>UUID</key>
		<string>1C0D5234-1C8C-41AE-B481-E286DE2F0939</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>17.57.27.31</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 11:42:06</string>
		<key>UUID</key>
		<string>1C0D5234-1C8C-41AE-B481-E286DE2F0939</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>17.57.27.31</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 11:42:06</string>
		<key>UUID</key>
		<string>1C0D5234-1C8C-41AE-B481-E286DE2F0939</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>17.57.27.31</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 11:42:06</string>
		<key>UUID</key>
		<string>1C0D5234-1C8C-41AE-B481-E286DE2F0939</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapTipController</string>
		<key>HOST</key>
		<string>17.57.27.31</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 11:42:09</string>
		<key>UUID</key>
		<string>1C0D5234-1C8C-41AE-B481-E286DE2F0939</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>17.57.27.31</string>
		<key>Point</key>
		<string>jing zhou</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 11:42:09</string>
		<key>UUID</key>
		<string>1C0D5234-1C8C-41AE-B481-E286DE2F0939</string>
	</dict>
</array>
</plist>
