<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>17.56.156.230</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.3</string>
		<key>TimeStamp</key>
		<string>2020-06-04 12:04:42</string>
		<key>UUID</key>
		<string>BE003B2B-CB8E-489D-9532-656B9C7EA9B8</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>17.56.156.230</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.3</string>
		<key>TimeStamp</key>
		<string>2020-06-04 12:05:10</string>
		<key>UUID</key>
		<string>BE003B2B-CB8E-489D-9532-656B9C7EA9B8</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>17.56.156.230</string>
		<key>Point</key>
		<string>deng lu</string>
		<key>SystemVersion</key>
		<string>13.3</string>
		<key>TimeStamp</key>
		<string>2020-06-04 12:06:35</string>
		<key>UUID</key>
		<string>BE003B2B-CB8E-489D-9532-656B9C7EA9B8</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>17.56.156.230</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.3</string>
		<key>TimeStamp</key>
		<string>2020-06-04 12:06:38</string>
		<key>UUID</key>
		<string>BE003B2B-CB8E-489D-9532-656B9C7EA9B8</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>17.56.156.230</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.3</string>
		<key>TimeStamp</key>
		<string>2020-06-04 12:06:39</string>
		<key>UUID</key>
		<string>BE003B2B-CB8E-489D-9532-656B9C7EA9B8</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>17.56.156.230</string>
		<key>Point</key>
		<string>gong cheng</string>
		<key>SystemVersion</key>
		<string>13.3</string>
		<key>TimeStamp</key>
		<string>2020-06-04 12:06:39</string>
		<key>UUID</key>
		<string>BE003B2B-CB8E-489D-9532-656B9C7EA9B8</string>
	</dict>
</array>
</plist>
