<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>192.168.204.162</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.2.3</string>
		<key>TimeStamp</key>
		<string>2020-05-19 20:29:13</string>
		<key>UUID</key>
		<string>2AFBBA87-1A68-452A-96DA-201F912CBA20</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.204.162</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.3</string>
		<key>TimeStamp</key>
		<string>2020-05-19 20:29:15</string>
		<key>UUID</key>
		<string>2AFBBA87-1A68-452A-96DA-201F912CBA20</string>
	</dict>
</array>
</plist>
