<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>172.19.111.249</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.2.3</string>
		<key>TimeStamp</key>
		<string>2020-05-19 20:34:12</string>
		<key>UUID</key>
		<string>C1CE5FE8-6B66-4F3C-BA2B-34B4CBE27F37</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>172.19.111.249</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.3</string>
		<key>TimeStamp</key>
		<string>2020-05-19 20:34:18</string>
		<key>UUID</key>
		<string>C1CE5FE8-6B66-4F3C-BA2B-34B4CBE27F37</string>
	</dict>
</array>
</plist>
