<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>17.57.29.194</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-01 22:29:19</string>
		<key>UUID</key>
		<string>FBF1A0B2-1047-4630-9017-FEAAE12B8382</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>17.57.29.194</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-01 22:29:49</string>
		<key>UUID</key>
		<string>FBF1A0B2-1047-4630-9017-FEAAE12B8382</string>
	</dict>
</array>
</plist>
