<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>192.168.204.162</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.2.3</string>
		<key>TimeStamp</key>
		<string>2020-05-27 15:55:21</string>
		<key>UUID</key>
		<string>7C901C1F-CB65-40EE-939B-D55C5AB91B69</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.204.162</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.3</string>
		<key>TimeStamp</key>
		<string>2020-05-27 15:55:38</string>
		<key>UUID</key>
		<string>7C901C1F-CB65-40EE-939B-D55C5AB91B69</string>
	</dict>
</array>
</plist>
