<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 15:06:41</string>
		<key>UUID</key>
		<string>7C7ADE51-090F-42CA-A61F-3927299BC669</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>192.168.80.137</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.2</string>
		<key>TimeStamp</key>
		<string>2020-05-07 15:06:45</string>
		<key>UUID</key>
		<string>7C7ADE51-090F-42CA-A61F-3927299BC669</string>
	</dict>
</array>
</plist>
