<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:22:15</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:22:40</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:22:46</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:22:48</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:25</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:26</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:29</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:30</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:31</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:32</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:33</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:35</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:36</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:37</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:38</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:39</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:41</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:42</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:44</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:45</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:46</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:48</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:49</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:50</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:51</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:52</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:54</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:55</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:56</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:57</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:23:58</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:00</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:01</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:02</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:04</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:05</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:07</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:08</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:09</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:10</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:11</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:13</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRTuYaController</string>
		<key>HOST</key>
		<string>17.57.25.56</string>
		<key>Point</key>
		<string>back</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-08 16:24:14</string>
		<key>UUID</key>
		<string>F7CC24A5-59F8-402D-8FFC-780C381FB481</string>
	</dict>
</array>
</plist>
