<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>172.19.111.249</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.2.3</string>
		<key>TimeStamp</key>
		<string>2020-05-19 20:45:24</string>
		<key>UUID</key>
		<string>64B19546-C671-4E8F-A731-C82DD74BB3D0</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>172.19.111.249</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.2.3</string>
		<key>TimeStamp</key>
		<string>2020-05-19 20:45:26</string>
		<key>UUID</key>
		<string>64B19546-C671-4E8F-A731-C82DD74BB3D0</string>
	</dict>
</array>
</plist>
