<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CurrentLocation</key>
		<string>GRFirstInit</string>
		<key>HOST</key>
		<string>17.57.28.225</string>
		<key>Point</key>
		<string>GRFirstInit</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 01:37:53</string>
		<key>UUID</key>
		<string>E4D8221B-00B4-4D8D-8253-D01B4EEE2AE8</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>17.57.28.225</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 01:38:24</string>
		<key>UUID</key>
		<string>E4D8221B-00B4-4D8D-8253-D01B4EEE2AE8</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRSignInController</string>
		<key>HOST</key>
		<string>17.57.28.225</string>
		<key>Point</key>
		<string>deng lu</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 01:39:48</string>
		<key>UUID</key>
		<string>E4D8221B-00B4-4D8D-8253-D01B4EEE2AE8</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMainController</string>
		<key>HOST</key>
		<string>17.57.28.225</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 01:39:51</string>
		<key>UUID</key>
		<string>E4D8221B-00B4-4D8D-8253-D01B4EEE2AE8</string>
	</dict>
	<dict>
		<key>CurrentLocation</key>
		<string>GRMapperController</string>
		<key>HOST</key>
		<string>17.57.28.225</string>
		<key>Point</key>
		<string>viewDidLoad</string>
		<key>SystemVersion</key>
		<string>13.1.3</string>
		<key>TimeStamp</key>
		<string>2020-06-02 01:39:52</string>
		<key>UUID</key>
		<string>E4D8221B-00B4-4D8D-8253-D01B4EEE2AE8</string>
	</dict>
</array>
</plist>
